<!-- <!DOCTYPE html> -->
<!-- <html ng-app="gemStore"> -->
<!-- 	<head> -->
<!-- 		<link rel="stylesheet" type="text/css" -->
<!-- 			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" /> -->
<!-- 		<script type="text/javascript" -->
<!-- 			src="https://code.angularjs.org/1.2.15/angular.min.js"></script> -->
<!-- 		<script type="text/javascript" src="js/app.js"></script> -->
<!-- 		<script type="text/javascript" src="js/include.js"></script> -->
<!-- 	</head> -->
<!-- 	<body ng-controller="ProductDescription"> -->
<!-- 		<!-- onchange="showDescription()" --> -->
<!-- 		<select ng-model="selectedDescription" ng-change='showDescription()'> -->
<!-- 			<option value="1">Description from product 1</option> -->
<!-- 			<option value="2">Description from product 2</option> -->
<!-- 		</select> -->
<!-- 		<button ng-click='showDescription()'>greet</button> -->
<!-- 		<h4>Description</h4> -->
<!-- 		<blockquote>{{description}}</blockquote> -->
<!-- 	</body> -->
<!-- </html> -->